*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body
{
  border:5px solid black;
}

.headerSection{
  display:flex;
  justify-content: space-between;
  padding:5px;
  background-color:skyblue;
  color:white;
  padding:10px;
}

.center ul li {
  list-style-type: style none;
  display: inline;
  margin:0px 5px;
}
.left{
  flex:3;
  /* border:1px solid black; */
}

.title{
  font-size: 1rem;
}
.center{
  flex:3;
  /* border:1px solid black; */
}
.right{
  flex:4;
  /* border:1px solid black; */
  display:flex;
  justify-content: space-between;
  padding:0px 10px;
}
.search{
  flex:2;

  /* border:1px solid black; */
}

.search input{
  width:20rem;
  padding:5px;
  border-radius:10px;
}

.bannerSection{
  margin:2px 3px;
}

.menImages{
  display:flex;
}

.menImages img{
  width:200px;
  height:300px;
  margin:3px;
}
